.skill{
    margin-left: 30%;
}
.main
{
    min-height: 700px;
}
/* Home.css */
.bg-cover {
    filter: grayscale(100%);
  }
  
  .bg-cover::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  }
  .color{
    color: rgb(192, 175, 175);
  }